.CookiePoint{
    position: fixed;
    font-size: 0.7rem;
    color: white;
    width: max-content;
    max-width: 180px;
    text-align: center;
    background-color: rgb(var(--basecolor),1);
    right: 0;
    bottom: 0;
    z-index: 14;
    height: max-content;
    margin: 0 1rem 2rem 0;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid white;
    transition: 700ms;
    box-shadow:  0px 0px 12px -2px rgba(255,255,255,0.43);
}
.Btns{
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0.3rem 0;
}
.cookieBtn{
    width: max-content;
    font-size: 0.7rem;
    margin: 7px 3.5px 0 3.5px;
    border: 1px solid rgb(var(--bluemate),1);
    padding: 3.5px 7px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(var(--bluemate),0.1);
    border-radius: 7px;
    font-weight: lighter;
    color: whitesmoke;
}
.cookiesnotification{
    font-size: 0.7rem;
    cursor: pointer;
    border-radius: 7px;
    padding: 3.5px;
    transition: 700ms;
}
.cookieBtn:hover{
    transition: 700ms;
    background-color: rgb(var(--bluemate),0.4);
    text-decoration: underline;
}
.cookiesnotification:hover{
    text-decoration: underline;
}
.CookieLegend{
    font-weight: 700;
    max-width: 210px;
    word-wrap: break-word;
}
.BtnLegend{
    font-weight: lighter;
    color: white;
}