.Msg{
    position: fixed;
    width: auto;
    max-width: 320px;
    height: auto;
    padding: 0 21px;
    max-height: 100vh;
    top: 7%;
    background-color: rgb(var(--bluemate),1);
    border:1px solid rgb(var(--white),1);
    box-shadow: 1px 1px 1px 1px rgb(var(--white),0.3);
    border-radius: 7px;
    text-align: center;
    left: calc(50% - 100px);
    padding: 0.3rem 0;
    z-index: 7;
}
.CloseMsg{
    position: absolute;
    width: 21px;
    border-radius: 0 7px;
    padding: 3.5px;
    background-color: rgb(var(--whitemate),0.3);
    color: rgb(var(--whitemate),0.7);
    text-align: center;
    top: 0px;
    cursor: pointer;
    right: 0px;
}
.Msg h1{
    text-align: center;
    padding: 0.5rem;
    color: rgb(var(--whitemate),1);
    margin: 7px;
    font-weight: lighter;
}
.description{
    max-height: 70vh;
    overflow: auto;
    padding: 0 0.35rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.2rem;
    background-color: rgb(var(--blackmate),0.7);
    border:1px solid rgb(var(--white),0.3);
    color: rgb(var(--whitemate),1);
}
.description p,
.description a{
    font-size: 0.7rem;
}
.description a{
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}
.Msg button{
    margin: 7px;
    font-size: 0.7rem;
    cursor: pointer;
    border-radius: 7px;
    padding: 0.35rem 0.7rem;
    color: rgb(var(--white),1);
    background-color: rgb(var(--black),0.7);
    border: 1px solid rgb(var(--white),0.5);
}
.tutorial{
    margin: 7px 0;
    font-size: 0.7rem;
    border-radius: 7px;
    padding: 3.5px;
    cursor: pointer;
    color: rgb(var(--white),1);
    border: 1px solid rgb(var(--white),1);
}