.Header{
    display: grid;
    grid-template-columns: 70px 1fr max-content max-content;
    grid-template-areas: 
        'Logo Menus Langs SignIn'
    ;
    width: 100%;
    gap: 2rem;
    position: relative;
    top: 0px;
    background-color: rgb(var(--basecolor));
}
.HeaderLogo{
    width: 140px;
    height: 140px;
    border-radius: 14px;
    margin: 2px;
    overflow: hidden;
    grid-area: Logo;
}
.MenusContainer{
    grid-area: Menus;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.MenuButton{
    align-self: center;
    color: rgb(var(--fontcolor));
    background-color: transparent;
    padding: 7px;
    border-radius: 14px;
    transition: var(--fastrans);
	text-shadow: 2px 2px 8px #fffffff5;
    border: 1px solid transparent;
}
.MenuButton:hover{
    border: 1px solid rgba(var(--basecolor), 0.3);
    color: rgb(var(--basecolor));
    background-color: rgb(var(--fontcolor));
}
.FlagLangsContainer{
    display: flex;
    flex-flow: row nowrap;
    grid-area: Langs;
}
.HeaderFlagsLngs{
    width: max-content;
    height: max-content;
    align-self: center;
    overflow: hidden;
    margin: 3.5px;
    grid-area: SignIn;
}
.SignInButton{
    align-self: center;
    border: 1px solid rgb(var(--basecolor));
    color: rgb(var(--basecolor));
    background-color: rgb(var(--fontcolor));
    padding: 7px;
    margin: 7px;
    border-radius: 35px;
    font-weight: 700;
    transition: var(--fastrans);
}
.SignInButton:hover{
    border: 1px solid rgb(var(--fontcolor));
    color: rgb(var(--fontcolor));
    background-color: rgb(var(--basecolor));
}
.SignInButton:active{
    border: 1px solid rgb(var(--basecolor));
    color: rgb(var(--basecolor));
    background-color: rgb(var(--fontcolor));
}