#AppFooter{ /*Footer Component style*/
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: transparent;
    font-weight: 300;
    border-top: 1px solid white;
    font-size: 1rem;
    font-family: sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    text-align: right;
    transition: 0.7s;
    height: max-content;
    align-items: center;
    padding: 0 10%;
}