.Image{
    width: 30%;
    height: 50vh;
    margin: auto;
    position: relative;
}
#MainLinksMenu{
    display: grid;
    width: 50vw;
    margin: auto;
    background-image: url('../public/Images/AppyyoLogo.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */    
    grid-template-columns: max-content auto max-content;
    grid-template-rows: minmax(6rem, 8rem) minmax(6rem, 8rem) minmax(6rem, 14rem);
    grid-template-areas: 
        'InnovLab InnovLab InnovLab'
        'NewProj  Logo      ProfServ'
        'AboutUs  Logo      DigTrans'
    ;
}
#NewestProject{
    grid-area: NewProj;
    text-align: right;
    align-self: baseline;
}
#InnovationLab{
    grid-area: InnovLab;
    text-align: center;
    align-self: baseline;
}
#ProfessionalServices{
    grid-area: ProfServ;
    text-align: left;
    align-self: baseline;
}
#AboutUs{
    grid-area: AboutUs;
    text-align: right;
    align-self: baseline;
}
#DigitalTransformation{
    grid-area: DigTrans;
    text-align: left;
    align-self: baseline;
}
.MainLink{
    align-self: center;
    text-align: center;
    background-color: transparent;
    line-height: 3.5rem;
}
.MainLink > span{
    color: rgb(var(--fontcolor));
    transition: var(--fastrans);
    width: max-content;
    border-radius: 35px;
    padding: 7px;
}
.MainLink > span:hover{
    text-shadow: 0px 0px 14px whitesmoke;
}